@import '~inter-ui/inter-ui.css';
/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;
 
 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */
 
 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;
 
 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  */
 
body {
    @apply bg-grey-lightest;
}

.toc-header {
    @apply relative pl-6 border-l border-grey-lighter;
}

.toc-header header {
    @apply flex items-center;
}

.toc-header header::before {
    @apply absolute block bg-grey-lighter rounded-full w-3 h-3;
    content: ' ';
    left: -0.375rem;
}

.toc-header.current,
.toc-header.finished {
    @apply border-lime-green-light;
}

.toc-header.current header::before {
    @apply bg-white shadow;
}

.toc-header.current header::after {
    @apply absolute block bg-lime-green-light rounded-full;
    content: ' ';
    height: 0.3rem;
    left: -0.15rem;
    width: 0.3rem;
}

.toc-header.finished header::before {
    @apply bg-lime-green-light;
}

.toc-page {
    @apply relative flex items-center border-l border-grey-lighter pl-8 -ml-px;
}

.toc-page::before {
    @apply absolute block bg-grey-lighter rounded-full w-2 h-2;
    content: ' ';
    left: -0.275rem;
}

.toc-page.active {
    @apply border-lime-green-light;
}

.toc-page.active::before {
    @apply bg-lime-green-light;
}

.toc-spacer {
    @apply pb-6 border-grey-lighter border-l;
    margin-left: calc(-1.5rem - 1px);
}

.toc-spacer.finished {
    @apply border-lime-green-light;
}

.current-link {
    @apply text-grey-dark;
}
